{% extends "director/Layout.html" %}

{% block content %}

{% load in_month_from_course %}
<div id="container" class="w-[100%] lg:p-12 p-3">
    <div class="flex flex-wrap gap-6 py-6">
        <div class="flex flex-col gap-4 w-[15rem]">
            <label for="teacher">Selecciona el <strong>Profesor:</strong></label>
            <select id="teacher" class="p-2 border-2 rounded-md" name="teacher" onchange="if (this.selectedIndex) updateFilteredData();">
                <option class="p-2" value="blank">--Seleccionar--</option>
                {% for teacher_obj in teachers %} 
                <option class="p-2" value="{{ teacher_obj.id }}">{{ teacher_obj.user.first_name }} {{teacher_obj.user.last_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex flex-col gap-4 w-[15rem]">
            <label for="course">Selecciona el <strong>Curso:</strong></label>
            <select id="course" class="p-2 border-2 rounded-md" name="course" onchange="if (this.selectedIndex) updateFilteredData();">
                <option class="p-2" value="blank">--Seleccionar--</option>
                {% for cour in courses %} 
                <option class="p-2" value="{{ cour.id }}">{{ cour.grade.short_name }}{{ cour.section.name }} - {{ cour.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex flex-col gap-4 w-[10rem]">
            <label for="month">Selecciona el <strong>Mes:</strong></label>
            <select id="month" class="p-2 border-2 rounded-md" name="month" onchange="if (this.selectedIndex) updateFilteredData();">
                <option value="all">--Todos--</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Setiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
{#        <div class="flex flex-col gap-4 w-[10rem]" style="text-align:right; margin:0px auto 0px auto;">#}
{#            <button class="bg-green-500 text-white font-bold py-2 px-4 rounded disabled:opacity-75"  #}
{#            {% if not one_teacher or not one_course %}disabled{% endif %} disabled>Descargar Excel</button>#}
{#        </div>#}
    </div>
    <div>
        <h2><strong>Registro de Asistencia por Curso</strong></h2>
    {% if one_course and one_teacher %}
    <div class="m-4 overflow-y-auto">
        <table class="border border-solid border-spacing-2 rounded-md ">
            <tr class="border-2 px-2">
                <th class="px-2">Nro</th>
                <th class="px-2 sticky left-0 bg-white">Nombre</th>
                <th class="px-2">Clase</th>
                {% for assistance in assistances %}
                <th class="px-2">{{ assistance.date|date:"l" }} {{ assistance.date.day }}/{{ assistance.date.month }}</th>
                {% endfor %}
            </tr>
            {% for student in students %}
            <tr {% if forloop.counter|divisibleby:2 %} class="bg-gray-100" {% endif %}>
                <td class="px-3 border">{{ students.start_index|add:forloop.counter0 }}</td>
                <td class="px-3 border sticky left-0 bg-white text-sm">{{ student.first_name }} {{ student.last_name }}</td>
                <td class="px-3 border">{{ student.grade.short_name }} {{student.section.name }}</td>
                {% if one_month %}
                    {% for assistance in student.assistances.all|one_more:month|in_month_from_course:course.id %}
                            {% if assistance.state == "Presente" %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-green-500">{{ assistance.time }}</p>
                            <span class="material-symbols-sharp text-green-500">check_circle</span>
                        </div>
                    </div>
                </td>
                            {% elif assistance.state == "Tardanza" %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-orange-500">{{ assistance.time }}</p>
                            <span class="material-symbols-sharp text-orange-500">check_circle</span>
                        </div>
                    </div>
                </td>
                            {% elif assistance.state == "Falta" %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-red-500">FALTA</p>
                            <span class="material-symbols-sharp text-red-500">error</span>
                        </div>
                    </div>
                </td>
                            {% else %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-black-500"> - </p>
                        </div>
                    </div>
                </td>
                            {% endif%}
                    {% endfor %}
                {% else %}
                    {% for assistance in student.assistances.all|from_course:course.id %}
                            {% if assistance.state == "Presente" %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-green-500">{{ assistance.time }}</p>
                            <span class="material-symbols-sharp text-green-500">check_circle</span>
                        </div>
                    </div>
                </td>
                            {% elif assistance.state == "Falta" %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-red-500">FALTA</p>
                            <span class="material-symbols-sharp text-red-500">error</span>
                        </div>
                    </div>
                </td>
                            {% else %}
                <td class="px-3 border">
                    <div class="text-center">
                        <div class="p-1 flex items-center justify-center">

                            <p class="text-xs text-black-500"> - </p>
                        </div>
                    </div>
                </td>
                            {% endif%}
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        <p class="text-md my-4 text-blue-500 font-bold ms-2">Pagina {{ students.number }} de {{ students.paginator.num_pages }}.</p class="text-md my-4">
        <div class="step-links flex items-center gap-1">
            {% if students.has_previous %}
                <a href="#" onclick="addParameterToURL('page', '{{ students.previous_page_number }}'); return false;" class="flex items-center p-2 text-md text-blue-500 font-bold">
                    <i class="material-symbols-sharp">arrow_back_ios</i>
                </a>
                <a href="#" onclick="addParameterToURL('page', '1'); return false;" class="w-[2.6rem] h-[2rem] text-center block text-md rounded-md bg-blue-100 text-blue-500 font-bold">1</a>
            {% endif %}
            {% if students.number > 3 %}
                <span class="text-lg text-blue-500 mx-2">...</span>
            {% endif %}
            {% if students.number > 2 %}
                <a href="#" onclick="addParameterToURL('page', '{{ students.previous_page_number }}'); return false;" class="w-[2.6rem] h-[2rem] text-center block text-md rounded-md bg-blue-100 text-blue-500 font-bold">
                    {{ students.number|add:"-1" }}
                </a>
            {% endif %}
            <span class="w-[2.6rem] h-[2rem] text-center current bg-blue-500 text-white font-bold text-md rounded-md">
                {{ students.number }}
            </span>
            {% if students.number|add:"1" < students.paginator.num_pages %}
                <a href="#" onclick="addParameterToURL('page', '{{ students.next_page_number }}'); return false;" class="w-[2.6rem] h-[2rem] text-center block text-md rounded-md bg-blue-100 text-blue-500 font-bold">
                    {{ students.number|add:"1" }}
                </a>
            {% endif %}
            {% if students.number|add:"2" < students.paginator.num_pages %}
                <span class="text-lg text-blue-500 mx-2">...</span>
            {% endif %}
            {% if students.has_next %}
                <a href="#" onclick="addParameterToURL('page', '{{ students.paginator.num_pages }}'); return false;" class="w-[2.6rem] h-[2rem] text-center block text-md rounded-md bg-blue-100 text-blue-500 font-bold">{{students.paginator.num_pages}}</a>
                <a href="#" onclick="addParameterToURL('page', '{{ students.next_page_number }}'); return false;" class="flex items-center p-2 text-md text-blue-500 font-bold">
                    <i class="material-symbols-sharp">arrow_forward_ios</i>
                </a>
            {% endif %}
            </div>
    </div>
    {% else %}
    <h2>---------Seleccione un profesor y su curso---------</h2>
    {% endif %}
    </div>
</div>

{% endblock %}


{% block js %}
<script type="application/javascript">
    const urlParams = new URLSearchParams(window.location.search);

    const teacher = urlParams.get('teacher');
    const course = urlParams.get('course');
    const month = urlParams.get('month');

    var d = new Date();
    var n = d.getMonth()+1;


    if (teacher) {
        document.getElementById('teacher').value  = teacher
    }
    if (teacher && course) {
        document.getElementById('course').value = course;
    } else {
        document.getElementById('course').value = "blank";
    }
    if (month) {
        document.getElementById('month').value = month;
    } else {
        document.getElementById('month').value = n;
    }

    function updateFilteredData() {
        var select_teacher = document.getElementById('teacher').value;
        var select_course = document.getElementById('course').value;
        var select_month = document.getElementById('month').value
        var url = '{% url "assistance_app:all_course_assistance_report" slug=school.slug %}?'
        
        if (select_teacher != 'blank')
        {
            url += "teacher=" + select_teacher + '&';
        }
        if (select_teacher == teacher && select_teacher != "blank" && select_course != 'blank') 
        {
            url += "course=" + select_course + '&';
        }
        if (select_month != n)
        {
            url += "month=" + select_month + '&'
        }
        window.location.href = url;
    }

    // Event listeners for select inputs
    document.getElementById('teacher').addEventListener('change', updateFilteredData);
    document.getElementById('course').addEventListener('change', updateFilteredData);
    document.getElementById('month').addEventListener('change', updateFilteredData);

    function addParameterToURL(paramName, paramValue) {

    var currentURL = window.location.href;

    // Check if the parameter already exists in the URL
    if (currentURL.indexOf(paramName + '=') !== -1) {
        // Update the existing parameter value
        var regex = new RegExp('(' + paramName + '=.*?)(&|$)');
        var newURL = currentURL.replace(regex, paramName + '=' + encodeURIComponent(paramValue) + '$2');
    } else {
        // Check if there are already parameters in the URL
        var separator = currentURL.indexOf('?') !== -1 ? '&' : '?';

        // Add the new parameter to the URL
        var newURL = currentURL + separator + encodeURIComponent(paramName) + '=' + encodeURIComponent(paramValue);
    }
    // Redirect to the new URL
    window.location.href = newURL;
    }

</script>

{% endblock js %}