{% extends "student/StudentLayout.html" %}

{% block content %}
<div id="container" class="p-8">
    <h1 class="font-bold text-2xl mb-2">Horario</h1>
    <div>
    </div>
    <div class="">
        <h2 class="font-bold my-4">Horario 3ro A</h2>
        <table class="border border-solid border-spacing-2 rounded-md ">
            <tr class="border-2 px-2">
                <th class="px-2">Horario</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="font-semibold">Hora de entrada</p>
                        <p class="text-xs">7.00am - 7.50am</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="text-sm">7.00am - 8.50am</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Comunicación</p>
                        <p class="text-xs">Martin Lopez</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Religión</p>
                        <p class="text-xs">Pedro Zavaleta</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Personal Social</p>
                        <p class="text-xs">Tito Torres</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="text-sm">7.00am - 8.50am</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Comunicación</p>
                        <p class="text-xs">Martin Lopez</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Religión</p>
                        <p class="text-xs">Pedro Zavaleta</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Personal Social</p>
                        <p class="text-xs">Tito Torres</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center text-sm">Recreo</td>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="text-sm">7.00am - 8.50am</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Comunicación</p>
                        <p class="text-xs">Martin Lopez</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Religión</p>
                        <p class="text-xs">Pedro Zavaleta</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Personal Social</p>
                        <p class="text-xs">Tito Torres</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="text-sm">7.00am - 8.50am</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Comunicación</p>
                        <p class="text-xs">Martin Lopez</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Religión</p>
                        <p class="text-xs">Pedro Zavaleta</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Personal Social</p>
                        <p class="text-xs">Tito Torres</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-center text-sm">Recreo</td>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="text-sm">7.00am - 8.50am</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Comunicación</p>
                        <p class="text-xs">Martin Lopez</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Religión</p>
                        <p class="text-xs">Pedro Zavaleta</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Matemática</p>
                        <p class="text-xs">Juan Guarnizo</p>
                    </div>
                </td>
                <td class="px-3 border">
                    <div class="p-1 text-center">
                        <p class="font-semibold">Personal Social</p>
                        <p class="text-xs">Tito Torres</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="px-3 border">
                    <div class="text-center">
                        <p class="font-semibold">Hora de Salida</p>
                        <p class="text-xs">3.50pm</p>
                    </div>
                </td>
                <td class="px-3 border">
                </td>
                <td class="px-3 border">
                </td>
                <td class="px-3 border">
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}